@import "tailwindcss";
@plugin "tailwind-scrollbar";
@font-face {
  font-family: "LED_Dot_Matrix";
  src: url("/fonts/LED_Dot_Matrix.ttf") format("truetype");
  font-style: normal;
}

.led-dot {
  font-family: "LED_Dot_Matrix", sans-serif;
}

.quicksand {
  font-family: var(--font-quicksand), sans-serif;
}

.roboto {
  font-family: var(--font-roboto), sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: var(--font-quicksand), sans-serif; */
}
